.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: -100;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  /* === Primary Colors === */
  --blue-950: hsl(213, 96%, 18%);
  --purple-600: hsl(243, 100%, 62%);
  --blue-300: hsl(228, 100%, 84%);
  --blue-200: hsl(206, 94%, 87%);
  --red-500: hsl(354, 84%, 57%);

  /* === Neutral Colors === */
  --grey-500: hsl(231, 11%, 63%);
  --purple-200: hsl(229, 24%, 87%);
  --blue-100: hsl(218, 100%, 97%);
  --blue-50: hsl(231, 100%, 99%);
  --white: hsl(0, 100%, 100%);
}

body {
  height: 100vh;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  user-select: none;
}
.container {
  height: 500px;
  width: 800px;

  display: flex;
  justify-content: start;
  align-items: center;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  background-color: var(--blue-50);
  border-radius: 5px;
  position: relative;
}
.container .side_img {
  height: 480px;
  width: auto;
  margin-left: 10px;
}
.mobile_side_img {
  display: none;
}
.main {
  height: 500px;
  width: 400px;
  margin-left: 80px;

  height: 100%;

  height: 500px;
}
.buttons {
  display: flex;
  justify-content: flex-end;

  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.page_1_btn_next_step {
  background-color: var(--blue-950);
  color: var(--blue-50);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 90px;
  height: 40px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page_1_btn_next_step:hover {
  background-color: var(--purple-600);
}
.page_1_btn_next_step:active {
  background-color: var(--blue-950);
}

.main_page_1 {
  height: 100%;
  width: 100%;
  display: flex; /* //Give flex here // */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main_page_1 h2 {
  font-size: 2rem;
  margin: 35px 0 10px 0;
  color: var(--blue-950);
}
.main_page_1 p {
  color: var(--grey-500);
}

.form-group label {
  display: block;
  margin: 20px 0 3px 0;
  width: 100%;
  font-size: 15px;
  color: var(--blue-950);
}
.form-group input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-inline: 5px;
  border: 1px solid var(--blue-300);
}
.form-group input:focus {
  border-color: #0077b6;
  outline: none;
}
label.error::before {
  content: attr(data-error);
  color: #e63946;
  font-size: 14px;
  position: absolute;
  top: 2px;
  right: 0; /* Attach to right edge of container */

  white-space: nowrap;
}
.form-group {
  position: relative;
}
.overlay_list {
  position: absolute;
  right: 620px;
  top: 50px;

  height: auto;
  width: auto;
}
.overlay_list li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
}

.overlay_list li .num {
  font-size: 15px;
  font-weight: bolder;
  border: 1px solid var(--blue-300);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

  color: white;
}
.overlay_list li:first-child .num {
  background-color: lightblue;
  color: darkblue;
}
.steps {
  font-size: 15px;
  color: var(--grey-500);
  margin-bottom: 2px;
}
.step_info {
  font-size: 15px;
  color: whitesmoke;
  font-weight: 400;
}
/* ////Second Page :start */
.main_page_2 {
  display: none; /* //Give flex here // */
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;
}
.main_page_2 .title {
  font-size: 2rem;
  margin: 35px 0 10px 0;
  color: var(--blue-950);
}
.main_page_2 .subtitle {
  color: var(--grey-500);
  margin-bottom: 30px;
}
/* main_page_2_top .main_page_2_top_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
} */
.main_page_2_choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_page_2_group {
  width: 120px;
  border: 1px solid #888888;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px;
  cursor: pointer;
  box-sizing: border-box;
}
.main_page_2_group {
  width: 120px;
  border: 1px solid var(--grey-500);

  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px;
  cursor: pointer;
  box-sizing: border-box;
}
.main_page_2_group:hover {
  border-color: var(--purple-600);
}
.main_page_2_group:active {
  border-color: var(--grey-500);
}
.main_page_2_group img {
  width: 35px;
  height: auto;
}

.main_page_2_group_text h3 {
  font-size: 15px;
  margin-top: 40px;
  color: var(--blue-950);
}
.main_page_2_price {
  font-size: 15px;
  margin: 5px 0 0 0;
  color: var(--grey-500);
}

.two_months_free {
  display: none;
  text-wrap: nowrap;
  margin-top: 5px;
  color: darkblue;
  font-weight: bold;
  font-size: 15px;
}

/* toggle wrapper page 2 */

.toggle_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: sans-serif;
  border: 1px solid var(--grey-500);
  margin-top: 61px;
  border: none;
  background-color: var(--blue-50);
}

.toggle_lable_monthly {
  font-size: 14px;
  color: var(--blue-950);
  cursor: pointer;
  transition: color 0.3s, font-weight 0.3s;
}
.toggle_lable_yearly {
  font-size: 14px;
  color: var(--grey-500);
  cursor: pointer;
  transition: color 0.3s, font-weight 0.3s;
}

.toggle_switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.toggle_switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: var(--grey-500);
  border-radius: 13px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: var(--white);
  border-radius: 50%;
  transition: 0.4s;
}

.toggle_switch input:checked + .slider {
  background-color: rgb(1, 1, 39);
}

.toggle_switch input:checked + .slider::before {
  transform: translateX(24px);
}

.buttons_page_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  width: 100%;
  height: auto;

  margin-bottom: 10px;
}
.page_2_btn_next_step {
  background-color: var(--blue-950);
  color: var(--blue-50);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 90px;
  height: 40px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page_2_btn_previous_step {
  color: var(--blue-950);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.page_2_btn_next_step:hover {
  background-color: var(--purple-600);
}
.page_2_btn_next_step:active {
  background-color: var(--blue-950);
}
.page_2_btn_previous_step:hover {
  color: var(--purple-600);
}
.page_2_btn_previous_step:active {
  color: var(--blue-950);
}

/* Main Page 3 */
.main_page_3 {
  display: none; /* this will be flex */
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;
}
.main_page_3 .title {
  font-size: 2rem;
  margin: 35px 0 10px 0;
  color: var(--blue-950);
}
.main_page_3 .subtitle {
  color: var(--grey-500);
  margin-bottom: 30px;
}
.main_page_3_group {
  width: 100%;
  height: 75px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc; /* optional border */
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; /* Removes blue tap on mobile/safari */
}

.main_page_3_group .left_text {
  display: flex;
  align-items: center;
}
.main_page_3_group .left_text input[type="checkbox"] {
  margin: 15px;
  align-self: center;
  transform: scale(1.2);
}
.main_page_3_group .left_text .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* aligns text to the left */
}
.main_page_3_group .left_text .text h3 {
  color: var(--blue-950);
}
.main_page_3_group .left_text .text p {
  color: var(--grey-500);
}
.right_price {
  margin-left: auto;
  font-weight: bold;
  margin-right: 15px;
  color: var(--purple-600);
}
/* .main_page_3_group:active {
  
  transform: scale(0.99);
} */

.buttons_page_3 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  margin-top: 38px;
}
.page_3_btn_next_step {
  background-color: var(--blue-950);
  color: var(--blue-50);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 90px;
  height: 40px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page_3_btn_next_step:hover {
  background-color: var(--purple-600);
}
.page_3_btn_next_step:active {
  background-color: var(--blue-950);
}
.page_3_btn_previous_step {
  color: var(--blue-950);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.page_3_btn_previous_step:hover {
  color: var(--purple-600);
}
.page_3_btn_previous_step:active {
  color: var(--blue-950);
}

/* Main page 4 start */
.main_page_4 {
  display: none; /* Make this flex  */
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;

  width: 100%;
  height: 100%;
}
.main_page_4_top {
  width: 100%;
  height: auto;
}
.main_page_4 .title {
  font-size: 2rem;
  margin: 35px 0 10px 0;
  color: var(--blue-950);
}
.main_page_4 .subtitle {
  color: var(--grey-500);
  margin-bottom: 30px;
}

.main_page_4_group {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* optional padding */
  box-sizing: border-box;
  border: 1px solid var(--grey-500); /* optional for visual */
}
.final_page_2_checkup {
  font-size: 20px;
  color: var(--blue-950);
}
.final_page_2_checkup_price {
  color: var(--blue-950);
  font-weight: bold;
  font-size: 18px;
}

.main_page_4_group .left_text .text p {
  margin: 0;
  font-size: 14px;
  color: var(--grey-500);
  text-decoration: underline;
  cursor: pointer;
}

.final_page_checkup_online {
  color: var(--grey-500);
  font-size: 15px;
}
.final_page_checkup_online_price {
  color: var(--grey-500);
  font-size: 15px;
}
.final_page_checkup_large {
  color: var(--grey-500);
  font-size: 15px;
}
.final_page_checkup_large_price {
  color: var(--grey-500);
  font-size: 15px;
}
.final_page_checkup_customizable {
  color: var(--grey-500);
  font-size: 15px;
}
.final_page_checkup_customizable_price {
  color: var(--grey-500);
  font-size: 15px;
}
.final_page_checkup_total {
  color: var(--grey-500);
  font-size: 18px;
}
.final_page_checkup_total_price {
  color: var(--blue-950);
  font-size: 20px;
  font-weight: bold;
}
#change_page4:hover {
  opacity: 0.8;
}

/* .main_page_4_group .left_text .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
}
.main_page_4_group .left_text .text h3 {
  color: darkblue;
  margin: 0;
  font-size: 20px;
}

.main_page_4_group .left_text .text p:hover {
  color: darkblue;
}
 */

/* .main_page_4_group .left_text .text p:focus {
  transform: scale(0.1);
} Add this later*/

/* .page_4_right_price {
  margin-left: auto;
  font-weight: bold;
  margin-right: 15px;
} */

.buttons_page_4 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: auto;

  margin-bottom: 10px;
}
.page_4_btn_next_step {
  background-color: var(--blue-950);
  color: var(--blue-50);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 90px;
  height: 40px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page_4_btn_next_step:hover {
  background-color: var(--purple-600);
}
.page_4_btn_next_step:active {
  background-color: var(--blue-950);
}
.page_4_btn_previous_step {
  color: var(--blue-950);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.page_4_btn_previous_step:hover {
  color: var(--purple-600);
}
.page_4_btn_previous_step:active {
  color: var(--blue-950);
}

/* Main page 5 last final page start */
.main_page_5 {
  display: none; /* Make this flex  */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.main_page_5 h3 {
  margin: 20px 0;
  color: var(--blue-950);
  font-size: 25px;
}
.main_page_5 p {
  text-align: center;
  color: var(--grey-500);
  font-size: 16px;
}

/* Media quary apply{} */
@media screen and (max-width: 375px) {
  .side_img {
    display: none;
  }
  .mobile_side_img {
    display: block;
    width: 332px;
    margin-top: 9px;
  }
  .main {
    height: 400px;

    background-color: var(--blue-50);
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--blue-50);
    border-radius: 10px;
    position: absolute;
    top: 97px;
    right: 23.5px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  }

  .container {
    border: 1px solid blue;
    flex-direction: column;

    width: 350px;
    height: 570px;
    overflow: hidden;
  }
  .overlay_list {
    top: 50px;
    left: 170px;

    display: flex;
    justify-content: center;
  }
  .overlay_list .text {
    display: none;
  }

  .main_page_1 {
    width: 85%;
    /* display: none; */
  }
  .form-container .title {
    font-size: 25px;
  }
  .form-container .subtitle {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .page_1_btn_next_step {
    margin-right: 43px;
  }
  .buttons {
    position: absolute;
    top: 410px;
    background-color: var(--blue-50);
    border-radius: 7px;
    padding: 10px 0;
    width: 389px;
  }

  /* Mobile Main page 2 start */
  .main_page_2 {
    width: 85%;

    flex-direction: column;
    height: 100%;
  }
  .main_page_2_top {
    height: 100%;
  }
  .toggle_wrapper {
    background-color: transparent;
    margin-top: 10px;
  }
  .buttons_page_2 {
    position: absolute;
    background-color: var(--blue-50);
    border-radius: 7px;
    padding: 10px 0;
    width: 320px;
    position: absolute;
    top: 410px;
    left: -20px;
  }

  .main_page_2_top .title {
    font-size: 21px;
  }
  .main_page_2_top .subtitle {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .main_page_2_choice {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main_page_2_group {
    width: 100%;
    height: 70px;
    border: 1px solid var(--grey-500);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  .main_page_2_group:focus {
    transform: scale(0.2);
  }

  .main_page_2_group img {
    width: 35px;
    height: auto;
    margin-right: 15px;
  }

  .main_page_2_group_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .main_page_2_group_text h3 {
    margin: 0;
    font-size: 15px;
    color: var(--blue-950);
  }

  .main_page_2_group_text p {
    margin: 2px 0 0 0;
    font-size: 12px;
  }
  .main_page_2_price {
    color: var(--grey-500);
  }

  .two_months_free {
    display: none;
    font-size: 13px;
    color: var(--purple-600);
    font-weight: bold;
    margin-top: 3px;
  }
  /* Main page 3 mobile start */
  .main_page_3 {
    width: 85%;

    flex-direction: column;
    height: 100%;
  }
  .main_page_3_top {
    height: 100%;
  }

  .buttons_page_3 {
    position: absolute;
    background-color: var(--blue-50);

    border-radius: 7px;
    padding: 10px 0;
    width: 320px;
    position: absolute;
    top: 372px;
    left: -20px;
  }

  .main_page_3_top .title {
    font-size: 21px;
  }
  .main_page_3_top .subtitle {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .main_page_3_group .text h3 {
    font-size: 15px;
  }
  .main_page_3_group .text p {
    font-size: 12px;
  }
  .main_page_3_group .right_price {
    font-size: 12px;
  }
  /* Main page 4 start mobile */
  .main {
    align-items: flex-start;
  }
  .main_page_4 {
    width: 85%;

    flex-direction: column;
    justify-content: flex-start;
    height: auto;
  }
  .main_page_4_top {
    height: auto;
    padding-bottom: 25px;
  }

  .buttons_page_4 {
    position: absolute;
    background-color: var(--blue-50);

    border-radius: 7px;
    padding: 10px 0;
    width: 320px;
    position: absolute;
    top: 410px;
    left: -20px;
  }

  .main_page_4_top .title {
    font-size: 21px;
  }
  .main_page_4_top .subtitle {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .final_page_checkup {
    font-size: 17px;
  }
  .page_4_right_price {
    font-size: 14px;
  }
  .final_page_checkup_total_price {
    font-size: 16px;
  }
  /* Main page 5 mobile */
  .main_page_5 {
    width: 85%;

    flex-direction: column;
    justify-content: center;
    height: 380px;
  }
}
